---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const payload = {
	title: "Discover Native Share",
	text: "The share() method of the Navigator interface invokes the native sharing mechanism of the device to share data such as text, URLs, or files. The available share targets depend on the device, but might include the clipboard, contacts and email applications, websites, Bluetooth, etc.",
	url: "https://developer.mozilla.org/en-US/docs/Web/API/Navigator/share",
	files: []
} 
---

<script>
	const featureDetection = document.querySelector('#feature-detection')
	const parsedPayload = document.querySelector('#parsed-payload')
	const payloadEditor: (HTMLTextAreaElement | null) = document.querySelector('#payload-editor')
	const shareButton = document.querySelector('#share-button')

	let payload = Object()

	if ('share' in navigator) {
		shareButton?.removeAttribute('disabled')
		shareButton?.addEventListener('click', () => {
			navigator.share(payload)
		})
	} else {
		featureDetection?.classList.remove('hidden')
	}

	const update = () => {
		const input = payloadEditor?.value.length
			? payloadEditor.value
			: payloadEditor.placeholder

		payload = JSON.parse(input)

		parsedPayload.innerHTML = JSON.stringify(payload, null, 2)
	}

	payloadEditor?.addEventListener('input', update)

	update()
</script>

<Layout title="Discover Share Native">
	<main>
		<hr />	
		<article>
			<form>
				<label for="title-editor">Title</label>
				<input type="text" id="title-editor" name="title-editor" />
				<label for="text-editor">Text</label>
				<input type="text" id="text-editor" name="text-editor" />
				<label for="url-editor">URL</label>
				<input type="text" id="url-editor" name="url-editor" />
			</form>
		</article>
		<section>
			<Card title="Files">
				
			</Card>
			<Card title="Analysis">

			</Card>
			<Card title="Instructions">

			</Card>
		</section>
		<article>
			<details class="w-100">
				<summary>Parsed result</summary>
				<pre><code id="parsed-payload"></code></pre>
			</details>
			<details>
				<summary>Manually craft your payload</summary>
				<p>You can manually craft your payload prior to sharing.</p>
				<form class="w-100">
					<label for="payload-editor">Payload</label>
					<textarea id="payload-editor" name="payload-editor" placeholder={JSON.stringify(payload, null, 2)} rows="10"></textarea>
				</form>
			</details>
		</article>
		<section>
			<button id="share-button" disabled>Share ↗</button>
		</section>
	</main>
</Layout>

<style>
	textarea {
		font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
		font-weight: normal;
	}
	.hidden {
		display: none;
	}
	.w-100 {
		width: 100%;
	}
</style>