---
import Layout from '../layouts/Layout.astro';
import Share from '../components/Share.svelte'
---

<Layout title="Discover Share Native">
	<main>
		<article id="feature-detection" class="hidden">
			<h2>Feature detection</h2>
			<aside>
				<p><code>navigator.share()</code> is not available in this context.</p>
			</aside>
			<hr />	
		</article>
		<Share client:load></Share>
	</main>
</Layout>

<style>
	textarea {
		font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
		font-weight: normal;
	}
	.hidden {
		display: none;
	}
</style>