---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const payload = {
	title: "Discover Native Share",
	text: "The share() method of the Navigator interface invokes the native sharing mechanism of the device to share data such as text, URLs, or files. The available share targets depend on the device, but might include the clipboard, contacts and email applications, websites, Bluetooth, etc.",
	url: "https://developer.mozilla.org/en-US/docs/Web/API/Navigator/share",
	files: []
} 
---

<script>
	const featureDetection = document.querySelector('#feature-detection')
	const payloadInput = document.querySelector('#payload')
	const shareButton = document.querySelector('#share-button')
	const parsingResult = document.querySelector('#parsed-payload')

	let payload

	if ('share' in navigator) {
		shareButton.removeAttribute('disabled')
		shareButton.addEventListener('click', () => {
			navigator.share(payload)
		})
	} else {
		featureDetection.classList.remove('hidden')
	}

	const update = () => {
		const input = payloadInput.value.length
			? payloadInput.value
			: payloadInput.placeholder

		payload = JSON.parse(input)

		parsingResult.innerHTML = JSON.stringify(payload, null, 2)
	}

	payloadInput.addEventListener('input', update)

	update()
</script>

<Layout title="Discover Share Native">
	<main>
		<article id="feature-detection" class="hidden">
			<h2>Feature detection</h2>
			<aside>
				<p><code>navigator.share()</code> is not available in this context.</p>
			</aside>
		</article>
		<hr />	
		<section>
			<form style="width: 100%">
				<header>
					<h2>Native share payload</h2>
				</header>
				<label for="payload">Payload</label>
				<textarea id="payload" name="payload" placeholder={JSON.stringify(payload, null, 2)} cols="40" rows="10"></textarea>
				<footer>
					<button type="submit" id="share-button" disabled>Share</button>
				</footer>
			</form>
		</section>
		<section>
			<Card title="Parsing result">
				<pre><code id="parsed-payload"></code></pre>
			</Cars>
		</section>
	</main>
</Layout>

<style>
	textarea {
		font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
		font-weight: normal;
	}
	.hidden {
		display: none;
	}
</style>